.navbar-container {
  background-color: aqua;
  padding-left: 10px;
  height: 70px;
}

.nav-logo-text {
  color: #000;
  font-size: 20px;
}

.main-menu {
  display: flex;
  font-size: 15px;
  width: 300px;
  justify-content: space-around;
}
.menu-navbar {
  display: flex;
  justify-content: end;
}
